<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Main Menu</title>
    <link rel = "icon" href = "/images/wagon.png">
    <link rel = "stylesheet" href = "/css/global.css">
    <link rel = "stylesheet" href = "/css/mainmenu.css">
</head>
<body>
    <img src = "/images/OregonTrailMap.png" alt = "The Oregon Trail" class = "center">

    <div id = "Learn">
        <h1>Main Menu</h1>

        <ol>
            <li id = "go_to_setup">Travel the trail</li>
            <li id = "trail_info">Learn about the trail</li>
            <li id = "go_to_top_ten">See the Oregon top 10</li>
            <li id = "toggle_sound">Turn Sound Off</li>
        </ol>

        <h2>Select an Option</h2>
    </div>

    <script src = "/js/global.js"></script>
    <script src = "/js/mainmenu.js"></script>
</body>
</html>