<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Set up</title>
    <link rel = "icon" href = "/images/wagon.png">
    <link rel = "stylesheet" href = "/css/global.css">
    <link rel = "stylesheet" href = "/css/setup.css">
</head>
<body>
    <img src = "/images/OregonTrailMap.png" alt = "The Oregon Trail" class = "center">

    <div class = "container">

    <div id = "gameContainer"></div>

    <h3 id = "mainmenu">Press the spacebar for the main menu</h3>

    </div>

    <script src = "/js/global.js"></script>
    <script src = "/js/setup.js"></script>
</body>
</html>